name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm test
        env:
          AWS_REGION: 'us-west-2'
          AWS_ACCESS_KEY_ID: 'NOSUCH'
          AWS_SECRET_ACCESS_KEY: 'NOSUCH'
          STRIPE_TEST_SECRET_KEY: ${{ secrets.STRIPE_TEST_SECRET_KEY }}
          STRIPE_BILLING_METER_ID: ${{ vars.STRIPE_BILLING_METER_ID }}
          STRIPE_BILLING_METER_EVENT_NAME: ${{ vars.STRIPE_BILLING_METER_EVENT_NAME }}
          PLANS_TO_LINE_ITEMS_MAPPING: '{"did:web:starter.storacha.network":[{"price":"price_1SJMcVF6A5ufQX5voRJSNUWT","quantity":1},{"price":"price_1SJMfPF6A5ufQX5vdfInsdls"},{"price":"price_1SJMgMF6A5ufQX5vVX927Uvx"}],"did:web:lite.storacha.network":[{"price":"price_1SKRC5F6A5ufQX5vRpsfsnAV","quantity":1},{"price":"price_1SKRFHF6A5ufQX5vE4YQ0dk2"},{"price":"price_1SKRGrF6A5ufQX5v2XXj8FwQ"}],"did:web:business.storacha.network":[{"price":"price_1SKRJSF6A5ufQX5vXZrDTvW8","quantity":1},{"price":"price_1SKRRkF6A5ufQX5vLlfGHtG1"},{"price":"price_1SKRWCF6A5ufQX5vlkNUeTBz"}]}'
